* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 5px;
  }

.img-wrapper {
    text-align:left;
}
body {
    background-color: #d3cac3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;

  }
  h1 {
    text-align: center;
    }

    .verticle-center{
        display: flex;
        align-items: center;
        height: 90vh;
    }
    h3 {


    }